<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="TurnOnAnimation" Language="1033" Version="1.0.0" Manufacturer="YourCompany" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="TurnOnAnimation" Level="1">
      <ComponentGroupRef Id="FilesGroup" />
    </Feature>

    <Icon Id="icon.ico" SourceFile="icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TurnOnAnimation" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <ComponentGroup Id="FilesGroup" Directory="INSTALLFOLDER">
        <Component Id="MainExecutable" Guid="PUT-GUID-HERE-2">
          <File Source="publish\TurnOnAnimation.exe" />
          <Shortcut Id="StartMenuShortcut"
                    Directory="ProgramMenuFolder"
                    Name="TurnOnAnimation"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="icon.ico"
                    Advertise="yes"
                    Description="Run TurnOnAnimation"
                    Target="[INSTALLFOLDER]TurnOnAnimation.exe"/>
          <RegistryValue Root="HKCU" Key="Software\TurnOnAnimation" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
      </ComponentGroup>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <Directory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="TurnOnAnimation" />
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="PUT-GUID-HERE-3">
        <RemoveFolder Id="RemoveShortcutDir" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\TurnOnAnimation" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
